body {
    margin: 2% 5%;
    font-family: 'Quattrocento', serif;
    font-size: 1.2em;
}

strong {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style-type: lower-greek;
}

a, a:visited {
    /* color: #473534; */
    color: red;
}

#home-link {
    font-size: 1.2em;
    /* color: #224066; */
    color: darkblue;
}